.exercise1 {
  background-color: linen;
  padding-bottom: 200px;
}
.exercise1 h1 {
  background-color: lightblue;
}

.exercise2 {
  background-image: url("./img/paper.jpg");
  padding-bottom: 200px;
}

.exercise3 {
  padding-bottom: 200px;
}

.exercise4 {
  padding-bottom: 200px;
}

.exercise5 {
  padding-bottom: 200px;
}
